@import "colors.scss";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    background-color: silver;
}

main {
    background-color: orange;
    .main-container {
        height: 90vh;
        color: $text-color;
    }
}

.my-botton {
    @include border-radius(10px
    );
}