<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Playground</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/vue.js" defer></script>

</head>

<body>
    <h1>Vue Playground</h1>

    <div class="" id="app"> {{message}}

        <p>
            Lorem {{message + " " + secondmessage}}

            <h3> Labrīt! </h3>
        </p>

        <hr>
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
        <hr>
        <hr>
        <input type="text" v-bind:value="secondmessage">

        <span v-if="seen">Now you see me</span>


        <hr>

        <hr>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <hr>
        <hr>
        <button v-on:click="reverseMessage">Reverse Message</button>
        <button v-on:click="toggleSeen">{{seenMsg}}</button>
        <input v-model="message">

        <hr>
    </div>

</body>

</html>